@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  font-family: 'Engagement';
}

form {
  display: flex;
  justify-content: center;
}

fieldset {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 20px;
  border-color: gray;
}

legend {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

label, .submit {
  font-size: 1.2rem;
}

input {
  height: 1rem;
  width: 16rem;
  margin-bottom: 10px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px
}
input:nth-child(7) {
  width: 4rem;
}

select {
  width: 5rem;
  margin-bottom: 20px;
  margin-top: 4px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.submit {
  width: 6rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
}

.book-info {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 1fr 1fr;
  align-items: center;
  font-size: 1.2rem;
  border: 1px solid blue;
}

div > div > div {
  border: 1px solid red;
}

.remove-button {

}