h1 {
  text-align: center;
  font-size: 2.2rem;
}

legend {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

input {
  height: 1rem;
  width: 16rem;
  margin-bottom: 10px;
  margin-top: 4px;
}

label {
  font-size: 1.2rem;
}

select {
  width: 5rem;
  margin-bottom: 20px;
  margin-top: 4px;
}

fieldset {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form {
  display: flex;
  justify-content: center;
}





#container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(150px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid black;
}

div {
  border: 1px solid black;
}

button {
  height: 3rem;
  width: 9rem;
}